<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Expense Split</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

    </div>
</nav>
<div class="container-fluid my-akash">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-6 col-10 mx-auto box text-truncate">
            <section id="section1" style="color: cornsilk; size: 40rem;"> </section>
            <br>
            <hr>
            <h1
                style="color: blueviolet; font-size: large; text-size-adjust: 20px; font-style: italic; font-weight: bolder;">
                We are here to help you</h1>
            <h1 style="color: blueviolet; font-size: medium; font-style: oblique;">Enter Your Email Id which you used
                during registration</h1>
            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email" placeholder="Please Enter Your Email Address"
                    [(ngModel)]="email" name="email" (keydown)="keyPressEvent($event)" autofocus>
            </div>
            <button class="btn btn-outline-primary btn-block" (click)="resetPasswordFunction()">Send</button>
            <br><br>
        </div>
    </div>
</div>